<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center ion-margin-top">
    <ion-label class="titulo">Dados Pessoais</ion-label>
  </div>

  <form [formGroup]="cadastroForm">
    <div class="input-div">
      <ion-label position="stacked">Nome completo</ion-label>
      <ion-input formControlName="nomeCompleto" class="input"></ion-input>
    </div>

    <div class="input-div">
      <ion-label position="stacked">CPF</ion-label>
      <ion-input [brmasker]="{mask:'000.000.000-00'}" formControlName="cpf" inputmode="numeric" minlength="14" maxlength="14" class="input"></ion-input>
    </div>

    <div class="input-div">
      <ion-label position="stacked">E-mail</ion-label>
      <ion-input formControlName="email" class="input"></ion-input>
    </div>
    
    <div class="input-div">
      <ion-label position="stacked">Confirmar e-mail</ion-label>
      <ion-input formControlName="confirmarEmail" class="input"></ion-input>
    </div>

    <div class="input-div">
      <ion-label position="stacked">Telefone</ion-label>
      <ion-input [brmasker]="{mask:'(00) 00000-0000', len:15}" formControlName="telefone" class="input"></ion-input>
    </div>
  </form>

  <div class="div-btn">
    <div class="ion-text-center">
      <span class="validator-span">{{validationText}}</span>
    </div>
    <button class="btn btn-preto" (click)="onAvancar()">Avançar</button>
  </div>
</ion-content>