<ion-content [fullscreen]="true">
  <ion-row class="ion-text-center ion-margin-top mt-5">
    <ion-label class="titulo">Grupos</ion-label>
    <ion-icon class="add-icon" name="add-circle-outline" (click)="onAddGrupoClick()"></ion-icon>
  </ion-row>

  <ion-list>
    <div *ngFor="let item of gruposList">
      <ion-item-sliding style="display: contents">
        <ion-card class="card">
          <ion-item (click)="onGrupoClick(item.id)">
            <ion-label>
              <h2><strong>{{item.titulo}}</strong></h2>
              <h3>{{item.descricao}}</h3>
            </ion-label>
          </ion-item>
          <ion-item-options side="end">
            <ion-item-option (click)="presentAlertConfirm(item['id'])" style="background-color: #eb445a">
              <ion-icon class="footer-icons-white" name="trash"></ion-icon>
            </ion-item-option>
          </ion-item-options>
        </ion-card>
      </ion-item-sliding>
    </div>

    <!-- Botão oculto para abrir o modal -->
    <button hidden="true" id="open-modal" expand="block"></button>

  </ion-list>
</ion-content>