<ion-tabs>

  <!-- Tabs motorista -->
  <ion-tab-bar slot="bottom" *ngIf="usuarioMotorista">
    <ion-tab-button tab="tab-grupos">
      <fa-icon icon="people-group" class="icon"></fa-icon>
      <ion-label>Grupos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-motorista-codigo">
      <ion-icon name="qr-code"></ion-icon>
      <ion-label>Código</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-alunos">
      <fa-icon icon="list" class="icon"></fa-icon>
      <ion-label>Alunos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-perfil">
      <fa-icon icon="user"></fa-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

  <!-- Tabs aluno -->
  <ion-tab-bar slot="bottom" *ngIf="!usuarioMotorista">
    <ion-tab-button tab="tab-aluno-escolar">
      <fa-icon icon="van-shuttle" class="icon"></fa-icon>
      <ion-label>Escolar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab-perfil">
      <fa-icon icon="user"></fa-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>