<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="div-centro">
    <div class="div-btn">
      <button class="btn btn-verde" (click)="onSouMotorista()">Sou Motorista</button>
    </div>

    <div class="div-btn">
      <button class="btn btn-preto" (click)="onSouAluno()">Sou Aluno</button>
    </div>
  </div>
</ion-content>