<ion-content [fullscreen]="true">
  <div class="ion-text-center ion-margin-top mt-5">
    <ion-label class="titulo">Meu perfil</ion-label>
  </div>

  <ion-list class="ion-margin-top">

    <ion-item (click)="onMeusDadosClick()">
      <fa-icon icon="user" slot="start"></fa-icon>
      <ion-label>Dados pessoais</ion-label>
    </ion-item>

    <ion-item (click)="onMeusDadosClick()">
      <fa-icon icon="house" slot="start"></fa-icon>
      <ion-label>Endereço</ion-label>
    </ion-item>

    <ion-item>
      <fa-icon icon="van-shuttle" slot="start"></fa-icon>
      <ion-label>Dados do veículo</ion-label>
    </ion-item>

    <ion-item>
      <fa-icon icon="key" slot="start"></fa-icon>
      <ion-label>Alterar senha</ion-label>
    </ion-item>

    <ion-item (click)="onSair()">
      <fa-icon icon="door-open" slot="start"></fa-icon>
      <ion-label style="color: red;">Sair</ion-label>
    </ion-item>
  </ion-list>
</ion-content>