.logo-label {
    font-size: 2.7em;
    margin: 5px;
}

.logo-div {
    vertical-align: middle;
    margin-top: 50px;
}

.text-red {
    color: red;
}

.absolute-bottom {
    background-color: white;
}