<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Mural de motoristas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngFor="let item of muralMotoristasList">

    <ion-card class="card">
      <div class="ion-display-block">
        <label class="autor mb-2 mt-2"><strong>{{item.motoristaNome}}</strong></label>
      </div>

      <div class="ion-display-block">
        <label class="autor mb-2 mt-2">{{item.motoristaTelefone}}</label>
      </div>

      <div class="ion-display-block">
        <label class="autor mb-2 mt-2">{{item.motoristaEmail}}</label>
      </div>

      <div class="ion-display-block">
        <label class="autor mb-2 mt-2">Tipo de veiculo: {{item.motoristaTipoVeiculo}}</label>
      </div>

      <div class="ion-display-block mt-2">
        <label class="autor mb-2 mt-3">Locais de atendimento: {{item.locaisAtendimento}}</label>
      </div>
    </ion-card>

  </div>
</ion-content>