<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Dados do meu veículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="cadastroForm">
    <div class="input-div mt-4">
      <ion-label position="stacked">Placa</ion-label>
      <ion-input formControlName="placa" class="input"></ion-input>
    </div>

    <div class="input-div mt-4">
      <ion-label position="stacked">Cor</ion-label>
      <ion-input formControlName="cor" class="input"></ion-input>
    </div>

    <div class="input-div mt-4">
      <ion-label position="stacked">Tipo de veículo</ion-label>
      <ion-input formControlName="tipoVeiculo" class="input"></ion-input>
    </div>
  </form>

  <div class="div-btn">
    <button *ngIf="!modoEdicao" class="btn btn-verde" (click)="onEditar()">Editar</button>
    <button *ngIf="modoEdicao" class="btn btn-verde" (click)="onEditar()">Salvar</button>
  </div>
</ion-content>