<ion-content [fullscreen]="true" *ngIf="!requestsService.usuarioIngressadoEmEscolar()">
  <div class="ion-text-center ion-margin-top mt-5">
    <ion-label class="titulo">Início</ion-label>
  </div>

  <div class="div-center">
    <div class="ion-text-center">
      <label class="confortaa">
        <strong>Você ainda não ingressou em um escolar!</strong>
      </label>
    </div>

    <div class="mt-6 ion-text-center ion-margin">
      <label class="confortaa">
        Clique no botão abaixo para ingressar com o <strong>código</strong> ou <strong>QrCode</strong> fornecido pelo
        <strong>motorista</strong>
      </label>
    </div>

    <div class="div-btn">
      <button class="btn btn-verde" (click)="onIngressar()">Ingressar em um escolar</button>
    </div>

    <div class="div-btn">
      <button class="btn btn-preto mt-2" (click)="onBuscarNovoMotorista()">Encontrar um motorista</button>
    </div>
  </div>
</ion-content>

<ion-content [fullscreen]="true" *ngIf="requestsService.usuarioIngressadoEmEscolar()">
  <div class="ion-text-center ion-margin-top mt-5">
    <ion-label class="titulo">Meu escolar</ion-label>
  </div>

  <ion-searchbar placeholder="Filtrar..." #searchbar (ionInput)="onFiltrarInput()">
  </ion-searchbar>

  <ion-list class="mt-2">
    <ion-list-header class="confortaa"><strong>Motorista</strong></ion-list-header>

    <ion-item lines="none" *ngIf="dadosMotorista && dadosVeiculo" (click)="onMotoristaClick()">
      <ion-avatar slot="start">
        <img src="../../assets/avatar.png" title="Imagem motorista" />
      </ion-avatar>
      <ion-label >
        <h2><strong>{{dadosMotorista.nome}}</strong></h2>
        <h3>Placa: {{dadosVeiculo.placa}}</h3>
        <h3>Tipo: {{dadosVeiculo.tipoVeiculo}}, {{dadosVeiculo.cor}}</h3>
      </ion-label>
    </ion-item>

    <div class="div-btn mt-2">
      <button disabled="true" class="btn btn-cinza" (click)="onIngressar()">Mostrar localização (Em breve)</button>
    </div>
  </ion-list>

  <ion-list>
    <ion-list-header class="confortaa"><strong>Alunos</strong></ion-list-header>

    <div *ngFor="let item of alunosIngressadosList">

      <ion-item>
        <ion-avatar slot="start">
          <img src="../../assets/avatar.png" title="Imagem aluno" />
        </ion-avatar>
        <ion-label>
          <h2><strong>{{item.nome}}</strong></h2>
        </ion-label>
      </ion-item>
    </div>

  </ion-list>
</ion-content>