<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="dark" [icon]="buttonIcon">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="ion-text-center ion-margin-top mb-3">
    <ion-label class="titulo">Cartão Virtual</ion-label>
  </div>

  <form [formGroup]="cartaoVirtualForm">

    <div class="input-div">
      <ion-label position="stacked">Locais de atendimento</ion-label>
      <ion-textarea rows="4" placeholder="Digite aqui..." formControlName="locaisAtendimento" class="input-text-area"
        maxlength="255"></ion-textarea>
    </div>
  </form>

  <ion-card class="card">
      <div class="ion-display-block">
        <label class="autor mb-2 mt-2"><strong>{{dadosMotorista.nome}}</strong></label>
      </div>

      <div class="ion-display-block mt-2">
        <label><strong>Locais de atendimento:</strong></label>
      </div>

      <label class="solicitacao mb-2">{{cartaoVirtualForm.get('locaisAtendimento').value}}</label>
  </ion-card>

  <div class="div-btn">
    <button class="btn btn-preto" (click)="onSalvar()">Salvar</button>
  </div>
</ion-content>