<ion-content [fullscreen]="true">
  <div class="ion-text-center ion-margin-top mt-5">
    <ion-label class="titulo">Alunos</ion-label>
  </div>

  <ion-list>

    <div *ngFor="let item of alunosIngressadosList">

      <ion-item (click)="onAlunoClick(item.id)">
        <ion-avatar slot="start">
          <img src="../../assets/avatar.png" title="Imagem aluno" />
        </ion-avatar>
        <ion-label>
          <h2><strong>{{item.nome}}</strong></h2>
          <h3>Rua: {{item.rua}}, {{item.numero}}</h3>
          <h3>Bairro: {{item.bairro}}</h3>
          <h3 *ngIf="item.apto">Apto: {{item.apto}}, Bloco: {{item.bloco}}</h3>
          <h3>Telefone: {{item.telefone}}</h3>
        </ion-label>
      </ion-item>
    </div>

  </ion-list>
</ion-content>